.choise {
	height: 48px;
	width: auto;
	margin: 0px 12px 0 12px;
	padding: 0;
	border: 0;
	background: #3A4953;
	border-radius: 12px;
}



.choise ul li a {

	display: block;
	padding: 13px 50px;
	background: #3A4953;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #000;
}

.choise ul li a:hover {
	background: #146C9C;
	/* 变换背景色 */
	color: #fff;
	/* 变换文字颜色 */
}

.container {
	position: relative;
	height: auto;
	width: 1100px;
	top: 20px;
	border: 2px solid darkblue;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.3);
	margin: auto;
}

#lendup {
	position: absolute;
	left: 900px;
	top: -87px;
	display: block;
	padding: 13px 10px;

	height: 48px;
	width: auto;
	margin: 86px 12px 0 20px;
	padding: 0;
	border: 0;
	border-radius: 12px;
}

#lendup1 li {
	float: right;
	list-style: none;
	/* 将默认的列表符号去掉 */
	padding: 0;
	/* 将默认的内边距去掉 */
	margin: 0;
	/* 往左浮动 */
}

#lendup1 li a {
	display: block;
	padding: 13px 10px;
	background: rgba(255, 105, 180, 0.8);
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #000;
	border-radius: 12px;
	border: 3px solid darkblue;
}

#lendup1 li a:hover {
	background: orangered;
	/* 变换背景色 */
	color: #fff;
	/* 变换文字颜色 */
}

.navbar-header a {
	display: block;
	padding: 13px 50px;
	background: #0000ff;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #000;
}

.navbar-header a:hover {
	background: #146C9C;
	/* 变换背景色 */
	color: #fff;
	/* 变换文字颜色 */
}

#mainnav {
	min-height: 50px;
}

.Mainpage {
	position: relative;
	top: 30px;
}

.fangkuang {
	position: relative;
	left: 20px;
	height: auto;
	width: 100%;

	border: 2px solid darkblue;
}

.inputplace {
	position: relative;
	left: 20px;
	height: auto;
	width: 500px;
}

.formtitle {
	font-size: 1.4em;
}

#time1 {
	-web-kit-appearance: none;
	-moz-appearance: none;
	font-size: 1.4em;
	height: 35px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
}

#time2 {
	-web-kit-appearance: none;
	-moz-appearance: none;
	font-size: 1.4em;
	height: 35px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
}

.outputplace {
	position: relative;
	left: 20px;
	height: auto;
	width: 300px;
	font-size: 1.4em;
}

.tubiao{
	
}

#tubiao1 {
	width: 50%;
	height: 450px;
	
}
